EXPO_PUBLIC_BACKEND_URL=https://your-share-token.share.zrok.io
EXPO_PUBLIC_SUPABASE_URL=https://ysgdbzdsvtntutgbzopu.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gFGpcBLUlNB3lICyjftefw_5wjFUlZ5
